.reservedSeats{
    background-color: #474747 ;
}
.availableSeats:hover{
    box-shadow: #ff8a05 1.95px 1.95px 2.6px;
}

.selected {
    background-color: #ff8a05;
}

.suggestion {
    background-color: #ffd979;
}

.hidden {
 display: none;
}